<div class="panel panel-default panel-intro">
    {:build_heading()}

    <div class="panel-body">
        <form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

            <input id="c-id" data-rule="required" class="hidden" name="row[id]" value="{$row.id|htmlentities}">
            <div class="col-xs-12 col-sm-7 no-padding">
                <div class="box box-widget">
                    <div class="box-body">
                        <div class="form-group">
                            <div class="col-xs-12">
                                <input id="c-title" data-rule="required" class="form-control" name="row[content][title]" type="text" value="{$row.content.title|htmlentities}" placeholder="{:__('Title')}">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12">
                                <input id="c-slug" data-rule="required" class="form-control" name="row[slug]" type="text" value="{$row.slug|htmlentities}" placeholder="{:__('Slug')}" readonly>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12">
                                <textarea id="c-content" data-rule="" class="form-control editor" rows="5" name="row[content][content]" cols="50">{$row.content.content|htmlentities}</textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12">
                                <input id="c-seo_title" data-rule="required" class="form-control" name="row[content][seo_title]" type="text" value="{$row.content.seo_title|htmlentities}" placeholder="{:__('Seo_title')}">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12">
                                <input id="c-keyword" data-rule="required" class="form-control" name="row[content][keyword]" type="text" value="{$row.content.keyword|htmlentities}" placeholder="{:__('Keyword')}">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12">
                                <textarea id="c-description" data-rule="" class="form-control" name="row[content][description]" type="text" rows="5" value="{$row.content.description|htmlentities}" placeholder="{:__('Description')}"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-sm-offset-1 no-padding">
                <div class="box box-widget">
                    <div class="box-header with-border">
                        <div class="box-title">
                            <span>{:__('Language')}</span>
                        </div>
                        <div class="box-tools">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="form-group">
                            <div class="col-xs-12">
                                <select id="c-language" data-rule="required" class="form-control selectpicker" name="row[content][language]" type="text" placeholder="{:__('Language')}">
                                    {foreach name="site.multi_lang" item="vo" key="key"}
                                    <option value="{$key}" {eq name="row.content.language" value="key"}checked{/eq}>{:__($vo)}</option>
                                    {/foreach}
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box box-widget">
                    <div class="box-header with-border">
                        <div class="box-title">
                            <span>{:__('Page Info')}</span>
                        </div>
                        <div class="box-tools">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        </div>
                    </div>
                    <div class="box-body">
                        <dl>
                            <dt>{:__('Create Time')}</dt>
                            <dd>{$row.createtime|date='Y-m-d',###|htmlentities}</dd>
                            <dt>{:__('Update Time')}</dt>
                            <dd>{$row.updatetime|date='Y-m-d',###|htmlentities}</dd>
                        </dl>
                    </div>
                </div>
                <div class="box box-widget">
                    <div class="box-header with-border">
                        <div class="box-title">
                            <span>{:__('Page Setting')}</span>
                        </div>
                        <div class="box-tools">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        </div>
                    </div>
                    <div class="box-body">

                    </div>
                </div>
            </div>
            <div class="form-group layer-footer">
                <label class="control-label col-xs-12 col-sm-2"></label>
                <div class="col-xs-12">
                    <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
                    <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
                </div>
            </div>
        </form>
    </div>
</div>
